In [1]:
import pandas as pd
df = pd.read_table("/Users/rahulporuri/Downloads/SO-survey-data/2011_Stack_Overflow_Survey_Results.csv",
                   sep=",", engine="python")

In [3]:
print(df.iloc[:2, :20])

,What Country or Region do you live in?,Which US State or Territory do you live in?,How old are you?,How many years of IT/Programming experience do you have?,How would you best describe the industry you work in?,Which best describes the size of your company?,Which of the following best describes your occupation?,How likely is it that a recommendation you make will be acted upon?,What is your involvement in purchasing? You can choose more than 1.,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,What types of purchases are you involved in?,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Response,Response,Response,Response,Response,Response,Response,Response,Influencer,Recommender,Approver,Purchaser,Check Writer,No Involvement,I'm a Seller,Hardware,Servers,Software,"User Equipment: Monitors, PCs, Laptops",Consultants
1,Africa,NaN,< 20,<2,Consulting,Start Up (1-25),Web Application Developer,Not in a million years,NaN,NaN,Approver,NaN,NaN,NaN,NaN,NaN,NaN,Software,NaN,NaN

In [16]:
df = df.drop(0)

In [19]:
df["PurchasingInvolvement"] = df["What is your involvement in purchasing? You can choose more than 1."].str.cat(
    [df["Unnamed: 9"], df["Unnamed: 10"],df["Unnamed: 11"], df["Unnamed: 12"],df["Unnamed: 13"], df["Unnamed: 14"]],
    na_rep="")

In [23]:
df = df.drop(["What is your involvement in purchasing? You can choose more than 1.",
              "Unnamed: 9", "Unnamed: 10", "Unnamed: 11", "Unnamed: 12", "Unnamed: 13", "Unnamed: 14"] , axis=1)

In [24]:
print(df.iloc[:2, :20])

,What Country or Region do you live in?,Which US State or Territory do you live in?,How old are you?,How many years of IT/Programming experience do you have?,How would you best describe the industry you work in?,Which best describes the size of your company?,Which of the following best describes your occupation?,How likely is it that a recommendation you make will be acted upon?,What types of purchases are you involved in?,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,"What is your budget for outside expenditures (hardware, software, consulting, etc) for 2011?",Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
1,Africa,NaN,< 20,<2,Consulting,Start Up (1-25),Web Application Developer,Not in a million years,NaN,NaN,Software,NaN,NaN,NaN,NaN,NaN,"$25,001 - $40,000",NaN,NaN,NaN
2,Other Europe,NaN,25-29,41310,Software Products,Mature Small Business (25-100),Server Programmer,It's been known to happen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df["PurchasingInvolvementType"] = df["What types of purchases are you involved in?"].str.cat(
    [df["Unnamed: 16"], df["Unnamed: 17"], df["Unnamed: 18"], df["Unnamed: 19"],df["Unnamed: 20"]],
    na_rep="")

In [26]:
df = df.drop(["What types of purchases are you involved in?",
              "Unnamed: 16", "Unnamed: 17", "Unnamed: 18", "Unnamed: 19", "Unnamed: 20"] , axis=1)

In [28]:
print(df.iloc[:2, 5:25])

,Which best describes the size of your company?,Which of the following best describes your occupation?,How likely is it that a recommendation you make will be acted upon?,"What is your budget for outside expenditures (hardware, software, consulting, etc) for 2011?",Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,What type of project are you developing?,Which languages are you proficient in?,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
1,Start Up (1-25),Web Application Developer,Not in a million years,NaN,NaN,"$25,001 - $40,000",NaN,NaN,NaN,NaN,NaN,Mobile,NaN,JavaScript,NaN,NaN,NaN,NaN,NaN,NaN
2,Mature Small Business (25-100),Server Programmer,It's been known to happen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Enterprise,Java,NaN,NaN,NaN,NaN,NaN,SQL,NaN

In [29]:
df["BudgetRange"] = df["What is your budget for outside expenditures (hardware, software, consulting, etc) for 2011?"].str.cat(
    [df["Unnamed: 22"], df["Unnamed: 23"], df["Unnamed: 24"], df["Unnamed: 25"],
     df["Unnamed: 26"], df["Unnamed: 27"], df["Unnamed: 28"]],
    na_rep="")

In [30]:
df = df.drop(["What is your budget for outside expenditures (hardware, software, consulting, etc) for 2011?",
              "Unnamed: 22", "Unnamed: 23", "Unnamed: 24", "Unnamed: 25", "Unnamed: 26", "Unnamed: 27", "Unnamed: 28"]
             , axis=1)

In [31]:
print(df.iloc[:2, 5:25])

,Which best describes the size of your company?,Which of the following best describes your occupation?,How likely is it that a recommendation you make will be acted upon?,What type of project are you developing?,Which languages are you proficient in?,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,What operating system do you use the most?,Please rate your job/career satisfaction,"Including bonus, what is your annual compensation in USD?"
1,Start Up (1-25),Web Application Developer,Not in a million years,Mobile,NaN,JavaScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Linux,FML,Student / Unemployed
2,Mature Small Business (25-100),Server Programmer,It's been known to happen,Enterprise,Java,NaN,NaN,NaN,NaN,NaN,SQL,NaN,NaN,C,NaN,NaN,NaN,Windows 7,So happy it hurts,NaN

In [34]:
df["LanguageExpertise"] = df["Which languages are you proficient in?"].str.cat(
    [df["Unnamed: 31"], df["Unnamed: 32"], df["Unnamed: 33"], df["Unnamed: 34"],
     df["Unnamed: 35"], df["Unnamed: 36"], df["Unnamed: 37"], df["Unnamed: 38"],
     df["Unnamed: 39"], df["Unnamed: 40"], df["Unnamed: 41"], df["Unnamed: 42"]],
    na_rep="")

In [35]:
df = df.drop(["Which languages are you proficient in?",
              "Unnamed: 31", "Unnamed: 32", "Unnamed: 33", "Unnamed: 34", "Unnamed: 35",
              "Unnamed: 36", "Unnamed: 37", "Unnamed: 38", "Unnamed: 39", "Unnamed: 40",
              "Unnamed: 41", "Unnamed: 42"],
             axis=1)

In [39]:
print(df.iloc[:2, 10:30])

,Please rate your job/career satisfaction,"Including bonus, what is your annual compensation in USD?",Which technology products do you own? (You can choose more than one),Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,"In the last 12 months, how much money have you spent on personal technology-related purchases?"
1,FML,Student / Unemployed,iPhone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<$100
2,So happy it hurts,NaN,iPhone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other netbook,NaN,NaN,NaN,NaN,NaN,$251-$500

In [ ]:
df["TechProduct"] = df["Which technology products do you own? (You can choose more than one)"].str.cat(
    [df["Unnamed: 47"], df["Unnamed: 48"], df["Unnamed: 49"], df["Unnamed: 50"],
     df["Unnamed: 51"], df["Unnamed: 52"], df["Unnamed: 53"], df["Unnamed: 54"],
     df["Unnamed: 55"], df["Unnamed: 56"], df["Unnamed: 57"], df["Unnamed: 58"],
     df["Unnamed: 59"], df["Unnamed: 60"], df["Unnamed: 61"], df["Unnamed: 62"]],
    na_rep="")

In [40]:
df = df.drop(["Which technology products do you own? (You can choose more than one)",
              "Unnamed: 47", "Unnamed: 48", "Unnamed: 49", "Unnamed: 50", "Unnamed: 51",
              "Unnamed: 52", "Unnamed: 53", "Unnamed: 54", "Unnamed: 55", "Unnamed: 56",
              "Unnamed: 57", "Unnamed: 58", "Unnamed: 59", "Unnamed: 60", "Unnamed: 61", "Unnamed: 62"],
             axis=1)

In [42]:
print(df.iloc[:2, :])

,What Country or Region do you live in?,Which US State or Territory do you live in?,How old are you?,How many years of IT/Programming experience do you have?,How would you best describe the industry you work in?,Which best describes the size of your company?,Which of the following best describes your occupation?,How likely is it that a recommendation you make will be acted upon?,What type of project are you developing?,What operating system do you use the most?,Please rate your job/career satisfaction,"Including bonus, what is your annual compensation in USD?","In the last 12 months, how much money have you spent on personal technology-related purchases?",Which of our sites do you frequent most?,PurchasingInvolvement,PurchasingInvolvementType,BudgetRange,LanguageExpertise
1,Africa,NaN,< 20,<2,Consulting,Start Up (1-25),Web Application Developer,Not in a million years,Mobile,Linux,FML,Student / Unemployed,<$100,NaN,Approver,Software,"$25,001 - $40,000",JavaScript
2,Other Europe,NaN,25-29,41310,Software Products,Mature Small Business (25-100),Server Programmer,It's been known to happen,Enterprise,Windows 7,So happy it hurts,NaN,$251-$500,Stack Overflow,No Involvement,,,JavaSQLC

In [43]:
df.to_csv("2011_survey_cleaned.csv", index=False)