In [1]:
import pandas as pd

DTYPES ={"employment_status":"category", "remote": "category", "desktop_os": "category",
         "company_size_range": "category", "collector": "category", "country": "category",
         "age_range": "category", "gender": "category", "experience_range": "category",
         "salary_range": "category", "aliens": "category"}

filename = "/Users/rahulporuri/Downloads/SO-survey-data/2016_Stack_Overflow_Survey_Responses.csv"

df = pd.read_table(filename, dtype=DTYPES, sep=",")

In [2]:
indian_devs = df[df.loc[:, "country"] == "India"]

In [3]:
print(df.shape)
print(indian_devs.shape)

(56030, 66)
(4193, 66)

In [4]:
remote_devs = pd.concat([indian_devs["employment_status"].value_counts()/indian_devs["employment_status"].count(),
                         df["employment_status"].value_counts()/df["employment_status"].count()], axis=1)
remote_devs.columns = ["IN", "US"]
print(remote_devs)

                              IN        US
Employed full-time      0.770446  0.677606
Employed part-time      0.021625  0.035340
Freelance / Contractor  0.033269  0.070780
I'm a student           0.111450  0.126452
Other (please specify)  0.008040  0.018376
Prefer not to disclose  0.011090  0.007806
Retired                 0.000832  0.002380
Self-employed           0.031328  0.042803
Unemployed              0.011921  0.018457

In [5]:
remote_devs = pd.concat([indian_devs["remote"].value_counts()/indian_devs["remote"].count(),
                         df["remote"].value_counts()/df["remote"].count()], axis=1)
remote_devs.columns = ["IN", "US"]
print(remote_devs)

                              IN        US
I rarely work remotely  0.448070  0.478887
Never                   0.277895  0.222992
Part-time remote        0.175439  0.176679
Full-time remote        0.098596  0.121442

In [6]:
remote_devs = pd.concat([indian_devs["desktop_os"].value_counts()/indian_devs["desktop_os"].count(),
                         df["desktop_os"].value_counts()/df["desktop_os"].count()], axis=1)
remote_devs.columns = ["IN", "US"]
print(remote_devs)

                     IN        US
Debian         0.008766  0.019246
Fedora         0.011897  0.013455
Mac OS X       0.140576  0.261566
Mint           0.010958  0.017093
Other Linux    0.027239  0.044133
Ubuntu         0.229493  0.122990
Windows 10     0.132123  0.207983
Windows 7      0.296807  0.224731
Windows 8      0.134314  0.084089
Windows Vista  0.000313  0.001055
Windows XP     0.007514  0.003660

In [7]:
remote_devs = pd.concat([indian_devs["company_size_range"].value_counts()/indian_devs["company_size_range"].count(),
                         df["company_size_range"].value_counts()/df["company_size_range"].count()], axis=1)
remote_devs.columns = ["IN", "US"]
print(remote_devs)

                                  IN        US
1,000-4,999 employees       0.088308  0.090053
1-4 employees               0.054398  0.092733
10,000+ employees           0.160367  0.117875
10-19 employees             0.109149  0.099469
100-499 employees           0.169551  0.170315
20-99 employees             0.226069  0.215767
5,000-9,999 employees       0.039915  0.034333
5-9 employees               0.066408  0.076856
500-999 employees           0.055104  0.057698
I am not part of a company  0.013070  0.025018
I am not sure               0.015895  0.018106
Other (please specify)      0.001766  0.001778

In [8]:
remote_devs = pd.concat([indian_devs["aliens"].value_counts()/indian_devs["aliens"].count(),
                         df["aliens"].value_counts()/df["aliens"].count()], axis=1)
remote_devs.columns = ["IN", "US"]
print(remote_devs)

                              IN        US
Yes                     0.574671  0.523456
No                      0.378537  0.350631
Other (please specify)  0.046792  0.125913

In [9]:
remote_devs = pd.concat([indian_devs["salary_range"].value_counts()/indian_devs["salary_range"].count(),
                         df["salary_range"].value_counts()/df["salary_range"].count()], axis=1)
remote_devs.columns = ["IN", "US"]
print(remote_devs)

                              IN        US
$10,000 - $20,000       0.215064  0.107912
$100,000 - $110,000     0.002885  0.035841
$110,000 - $120,000     0.003846  0.023547
$120,000 - $130,000     0.001923  0.019882
$130,000 - $140,000     0.002244  0.013183
$140,000 - $150,000     0.000641  0.012337
$150,000 - $160,000     0.001282  0.010234
$160,000 - $170,000     0.000321  0.006028
$170,000 - $180,000     0.000321  0.004467
$180,000 - $190,000     0.001282  0.002949
$190,000 - $200,000     0.000641  0.002537
$20,000 - $30,000       0.068910  0.079725
$30,000 - $40,000       0.031090  0.074348
$40,000 - $50,000       0.017308  0.071356
$50,000 - $60,000       0.008654  0.068038
$60,000 - $70,000       0.008013  0.061209
$70,000 - $80,000       0.004808  0.054205
$80,000 - $90,000       0.003526  0.039765
$90,000 - $100,000      0.005449  0.036513
Less than $10,000       0.543269  0.166649
More than $200,000      0.002885  0.014332
Other (please specify)  0.007051  0.005486
Rather not say          0.034295  0.048698
Unemployed              0.034295  0.040762

In [10]:
remote_devs = pd.concat([indian_devs["age_range"].value_counts()/indian_devs["age_range"].count(),
                         df["age_range"].value_counts()/df["age_range"].count()], axis=1)
remote_devs.columns = ["IN", "US"]
print(remote_devs)

                              IN        US
20-24                   0.418043  0.234267
25-29                   0.383106  0.281766
30-34                   0.099306  0.179769
35-39                   0.029433  0.101513
40-49                   0.011725  0.088018
50-59                   0.001436  0.029429
< 20                    0.050012  0.070648
> 60                    0.002154  0.007573
Prefer not to disclose  0.004786  0.007016

In [11]:
remote_devs = pd.concat([indian_devs["experience_range"].value_counts()/indian_devs["experience_range"].count(),
                         df["experience_range"].value_counts()/df["experience_range"].count()], axis=1)
remote_devs.columns = ["IN", "US"]
print(remote_devs)

                        IN        US
1 - 2 years       0.238215  0.123566
11+ years         0.050488  0.264883
2 - 5 years       0.401674  0.321022
6 - 10 years      0.131660  0.232330
Less than 1 year  0.177964  0.058199

In [12]:
remote_devs = pd.concat([indian_devs["gender"].value_counts()/indian_devs["gender"].count(),
                         df["gender"].value_counts()/df["gender"].count()], axis=1)
remote_devs.columns = ["IN", "US"]
print(remote_devs)

                              IN        US
Male                    0.900769  0.924477
Female                  0.087218  0.057604
Prefer not to disclose  0.010812  0.012989
Other                   0.001201  0.004929

In [13]:
remote_devs = pd.concat([indian_devs["collector"].value_counts()/indian_devs["collector"].count(),
                         df["collector"].value_counts()/df["collector"].count()], axis=1)
remote_devs.columns = ["IN", "US"]
print(remote_devs)

                                IN        US
Facebook                  0.046506  0.175103
House ads                 0.409492  0.154078
Meta Stack Overflow Post  0.516814  0.502891
Miscellaneous             0.000238  0.001928
Reddit                    0.012640  0.111119
Twitter                   0.014310  0.054881

In [14]:
print(df["country"].value_counts())

United States          13539
United Kingdom          4573
India                   4193
Germany                 3883
Canada                  2024
Poland                  1971
France                  1626
Russian Federation      1419
Sweden                  1328
Netherlands             1188
Italy                   1137
Australia               1117
Spain                   1026
Brazil                  1015
Romania                  942
Ukraine                  802
Denmark                  606
Switzerland              574
Belgium                  543
Portugal                 496
Austria                  482
South Africa             479
Turkey                   445
Mexico                   444
Finland                  440
Israel                   439
Ireland {Republic}       427
Greece                   393
Iran                     372
Czech Republic           372
                       ...
Antigua & Deps             2
Malawi                     2
Vatican City               2
Zambia                     2
St Kitts & Nevis           1
Somalia                    1
Sierra Leone               1
Tajikistan                 1
Seychelles                 1
Antarctica                 1
Togo                       1
Vanuatu                    1
Sao Tome & Principe        1
Grenada                    1
San Marino                 1
Rwanda                     1
Palau                      1
Oman                       1
Burkina                    1
Burundi                    1
Guinea                     1
Central African Rep        1
Chad                       1
Mozambique                 1
Monaco                     1
Mauritania                 1
Dominica                   1
East Timor                 1
Gabon                      1
Niger                      1
Name: country, dtype: int64